[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
requests = "*"
django-extensions = "*"
gunicorn = "*"


[dev-packages]

ipdb = "*"
ipython = "*"
nose = "*"
faker = "*"
factory-boy = "*"
mock = "*"
vcrpy = "*"
