[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "*"
requests = "*"
django-extensions = "*"
gunicorn = "*"


[dev-packages]

ipdb = "*"
ipython = "*"
nose = "*"
Faker = "*"
factory_boy = "*"
mock = "*"
vcrpy = "*"
